body {
    display: flex;
    margin-top: 40px;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 246, 249);
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    align-items: center;
}

h1 {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(52, 52, 52);
}