table, td {
    border: 1px solid #cecece;
    padding: 10px;
}

thead {
    font-weight: 700;
}

.male td {
    background-color: #65bff3;
}

.female td {
    background-color: #932bb3;
}

.regular td {
    border: 2px solid green;
}

.admin td {
    border: 2px solid red;
}